- if defined?(reply_iteration) && reply_iteration.last?
  a name='l'

div.box id=reply.fakeid
  article.media
    .media-content: .content
      = link_to reply.fakeid, '#', class: 'textlink has-text-grey',
                                          'data-reply-id': reply.fakeid
      - if reply.is_op
        |  <abbr class="has-text-info" title="Eerste Bleitr">EB</abbr>
      strong
        |  #{reply.author}
        - if reply.tripcode.present?
          span.tripcode = tripcode_with_prefix reply.tripcode
      span.has-text-grey
        |  #{reply.created_at.strftime('%d.%m.%Y %H:%M')}
      - if reply.is_sage
        span.tag sage

      br
      = bmark reply.body
