= form_for message, url: { controller: 'topics', action: 'create' },
                    html: { id: 'f', class: html_class } do |f|

  - if message.errors.any?
    article.message.is-danger.is-error
      .message-body: ul
        - message.errors.full_messages.each do |m|
          li #{m}.

  .field.is-horizontal
    .field-label.is-normal
      label.label Identiteit
    .field-body
      .field: p.control.is-expanded.has-icons-left
        = f.text_field :name, class: 'input', placeholder: 'Naam',
                              maxlength: 100, autocomplete: 'off'
        span.icon.is-small.is-left: i.fa.fa-user

      .field.is-required
        p.control.is-expanded
          input.input { placeholder='E-mail' maxlength='50' size='50'
                        type='email' name='topic[email]' id='topic' }

      .field
        p.control.is-expanded.has-icons-left
          = f.text_field :options, class: 'input', placeholder: 'Opties',
                                   maxlength: 50
          span.icon.is-small.is-left: i.fa.fa-cog

  .field.is-horizontal
    .field-label.is-normal
      label.label Onderwerp
    .field-body: .field: .control
      = f.text_field :subject, class: 'input is-auto-focused',
                               placeholder: 'bijv. Omschrijving van je bericht',
                               maxlength: 50, required: true,
                               autocomplete: 'off'

  .field.is-horizontal
    .field-label.is-normal
      label.label Bericht
    .field-body
      .field
        .control
          = f.text_area :body, class: 'textarea',
                               placeholder: '...', maxlength: 1000,
                               required: true, autocomplete: 'off'
        p.help.is-hidden#remaining
          | #{fa_icon 'warning'} Nog <span id="remaining_value"></span>
          |  resterende tekens.

  .field.is-horizontal
    .field-label
    .field-body: .field: .control
      = f.submit class: 'button is-primary', title: 'alt+enter'
