span data-notification-room="topic:#{@topic.id}"
#hover data-topic-id=@topic.id

span.tag.is-info.is-medium = @topic.subject
#replies = render partial: 'replies/reply', collection: @replies

#replies-new
#paginate = paginate @replies

#replies-ui
  - if !topic_has_reached_max_replies?
    hr
    = render partial: 'replies/form', locals: { message: @reply }
  - else
    = render partial: 'topics/max_reply_notice'
