footer.footer
  .content.has-text-left.is-pulled-left
    = icon 'bell'
    a href='https://eyvent.rbox.be' RP events
  .content.has-text-right
    small
      a href="https://gitlab.com/bleitr/bleitr/commit/#{Rails.configuration.x.commit}"
        | commit #{Rails.configuration.x.commit}
