tr
  td = link_to topic.room.name, room_path(topic.room), class: 'textlink'

  td = link_to topic.subject, topic_path(topic.room, topic)

  td.is-hidden-mobile
    = link_to topic.bumped_at.strftime('%d.%m.%Y %H:%M'),
              topic_path(topic.room, topic, p: topic.last_page, anchor: 'l'),
              class: 'textlink has-text-grey'
  td
    = link_to topic.replies.size,
              topic_path(topic.room, topic, p: topic.last_page, anchor: 'l'),
              class: 'textlink'
