
span data-notification-room='home'

table.table.is-fullwidth.is-hoverable
  thead
    tr
      th Kamer
      th Onderwerp
      th.is-hidden-mobile Activiteit
      th: abbr title='Aantal Berichten' #B
  tbody#topics
    - if @topics.length.zero?
      tr: td colspan='4': em (Nog) geen berichten hier!
    - else
      = render partial: 'topic', collection: @topics, cached: true
  tfoot
    tr: td colspan='4' id='paginate'
      = paginate @topics
