nav.breadcrumb(aria-label='breadcrumbs')
  ul
    li: a href='/' bleitr
    li.is-active: a href='#' aria-current='page' veel gestelde vragen

.content

  strong &raquo; Wat is bleitr?
  p
    | bleitr is een
    |  #{link_to_noref('textboard', 'https://en.wikipedia.org/wiki/Textboard')}
    |  website en software. Het is vergelijkbaar met een forum maar zonder
    |  registratie. De voor- en nadelen hiervan zijn goed omschreven in
    |  #{link_to_noref 'dit artikel', 'https://archive.fo/qPxtl#25%'}.

  strong &raquo; Wat zijn de keyboard shortcuts voor navigatie weer?
  ul
    li <code>alt+n</code>: Nieuw bericht
    li <code>alt+enter</code>: Verzend bericht
    li
      code alt+k
      | : Ga naar kamer of kamer overzicht (afhankelijk van de pagina waarop je
      |  bent)
    li <code>alt+r</code>: Ga naar de hoofdpagina (root)

  strong &raquo; Wat is een tripcode?
  p
    | Een tripcode (zichtbaar aan de paarse naast een naam) is een manier om de
    |  identiteit van de auteur van een bericht te verifiëren. Het is een vorm
    |  van pseudo-registratie. Om een tripcode te gebruiken plaats je een
    |  paswoord naar keuze naast de naam in het Identiteit veld.
  p
    | Het paswoord kan je scheiden door middel van één (voor normale tripcodes)
    |  of twee (voor een secure tripcode) spoorwegtekens.
  p Bijv: <code>Chantal##DaR3ALChantal</code>

  strong
    | &raquo; Wat is het verschil tussen een normale tripcode en een secure
    |  tripcode?
  p
    | Een normale tripcode kan op verschillende textboards of imageboards
    |  gebruikt worden en zal identiek zijn op die verschillende sites. Een
    |  secure tripcode gebruikt een salt om de tripcode te berekenen die uniek
    |  is voor deze website.
  p
    | Een normale tripcode is korter en wordt voorafgegaan door één
    |  uitroepteken. Een secure tripcode heeft twee uitroeptekens.
    | #{link_to_noref 'Meer info', 'http://www.thefullwiki.org/Tripcode'}.

  strong &raquo; Wat doet dat optievak?
  p
    | Er zijn momenteel twee opties:
    ul
      li
        | <code>sage</code> is sa-ge (op z'n Japans uitgesproken niet op z'n
        |  Engels) van het werkwoord sageru (下げる) wat wil zeggen "verlagen".
        |  Het wil zeggen dat je een bericht toevoegt maar de discussie wordt
        |  niet bovenaan geplaatst in de lijst op de hoofdpagina, noch die van
        |  de kamers. Dit is in tegenstelling tot "age" of "bumpen" van een
        |  discussie.
      li
        | <code>nonoko</code> doet je onmiddelijk terug naar de index van
        |  berichten gaan nadat je bericht toegevoegd werd. Pretty useless,
        |  maar het is een knipoog naar gelijkaardige functionaliteit in andere
        |  textboards.
    | Je kan opties combineren bijv. <code>nonokosage</code>.

  strong &raquo; Hoe smijt ik dobbels?
  p
    | Dit kan door een <code>#</code> symbool te plaatsen vóór de worp.
    |  Voorbeelden: <code>#d20</code>, <code>#2d6+4</code>, <code>#d100-2</code>,
    |  enz.

  strong &raquo; Kan ik opmaak gebruiken in mijn tekst?
  p
    | Er zijn een heel beperkt aantal markdown-achtige opmaak mogelijkheden.
    |  Momenteel zijn dit:
    ul
      li
        | *schuine tekst* wordt <em>schuine tekst</em>
      li
        | **vette tekst** wordt <b>vette tekst</b>
      li ~~doorstreept~~ wordt <strike>doorstreept</strike>
      li `dit is code` wordt <code>dit is code</code>

  strong &raquo; Hoe kan ik tekst citeren of reageren op een bericht van iemand?
  p
    | Om te reageren op een bericht kan je klikken op het bericht nummer en dit
    |  zal een code toevoegen in het bericht dat je aan het opstellen bent,
    |  bijv: <b>&gt;&gt;12345</b>. Dit wordt dan omgezet in een link waarbij je
    |  over de link kan hoveren om het originele bericht te zien.
  p
    | Tevens kan je manueel tekst citeren door op een nieuwe lijn een
    |  <code>&gt</code> teken voor de tekst te zijn (dit is vergelijkbaar met
    |  tekst citeren in een e-mail). Voorbeeld:<br>
    |  <q>&gt;Dit is een tekst die iemand schreef.</q>

  strong &raquo; Hoe gebruik ik spoiler tags?
  p
    | Spoiler tags kan je gebruiken om tekst te verbergen op een zwarte
    |  achtergrond. De gebruiker dient dan te klikken op de tekst, of die te
    |  selecteren, om die te zien. Gebruik hiervoor het volgende formaat:<br>
    |  <code>[/s Mijn spoiler tekst!]</code> wordt <s>Mijn spoiler tekst!</s>.

  strong &raquo; Hoe lang blijven berichten bewaard?
  p
    | Discussies worden automatisch verwijderd na een tijd van inactiviteit
    |  (sage berichten tellen niet als activiteit). Ik noem dit de kotmadam die
    |  de kamers komt uitkuisen. De standaard waarde is
    |  <b>30 dagen inactiviteit</b>.<br>
    |  Uitzonderingen: voor <em>meta</em> is dit 7 dagen, voor <em>rp</em> 90
    |  dagen.

  strong &raquo; Is Javascript verplicht?
  p
    | Nee, alle basis functionaliteit op bleitr zoals berichten toevoegen en
    |  lezen werkt perfect zonder Javascript. Er is geen verplichting Javascript
    |  geactiveerd te hebben in je browser, dit voegt enkel meer toeters en
    |  bellen toe; zoals real-time updates en keyboard shortcuts.

  strong &raquo; Worden IP adressen gelogd?
  p
    | Nee, we houden geen IP adressen bij van bezoekers in onze applicatie logs
    |  en zullen dit nooit op globale manier doen. Het enige wat kan worden
    |  toegevoegd (momenteel niet het geval aangezien spam geen issue is), is
    |  dat we IP adressen loggen van bezoekers indien ze voldoen aan bepaalde
    |  patronen die spam detecteren (en enkel in dat geval). Natuurlijk kan het
    |  zijn dat jouw internet provider, of de service provider van de server
    |  waarop deze website wordt gehost, logs bijhoudt van de connecties die je
    |  maakt naar deze website.
  p
    | Gebruik Tor Browser of een VPN als je je IP adres uit deze logs wil
    |  houden.

  strong &raquo; Is er vrijheid van meningsuiting?
  p
    | Ja, tot het moment dat we je bericht verwijderen omdat we er zin in
    |  hebben. (tip: het antwoord is Nee dus). We moedigen het idee wel aan,
    |  maar in een online omgeving is dat niet altijd even praktisch. Alsook,
    |  alles dat illegaal is volgens Belgische en/of Duitse wetgeving zal
    |  verwijderd worden, met vuur en zwavel.
