/ Link to the "Next" page
/ - available local variables
/   url:           url to the next page
/   current_page:  a page object for the currently displayed page
/   total_pages:   total number of pages
/   per_page:      number of items to fetch per page
/   remote:        data-remote

- if current_page.last?
  span.pagination-next disabled='disabled' = t('views.pagination.next')
- else
  = link_to t('views.pagination.next').html_safe, url, class: 'pagination-next',
                                                       rel: 'next',
                                                       remote: remote
