/ The container tag
/ - available local variables
/   current_page:  a page object for the currently displayed page
/   total_pages:   total number of pages
/   per_page:      number of items to fetch per page
/   remote:        data-remote
/   paginator:     the paginator that renders the pagination tags inside

== paginator.render do
  nav.pagination.is-small
    == prev_page_tag
    == next_page_tag
    ul.pagination-list
      - each_page do |page|
        li
          - if page.display_tag?
            == page_tag page
          - elsif !page.was_truncated?
            == gap_tag
  == first_page_tag
  == last_page_tag
