/ Link to the "Previous" page
/ - available local variables
/   url:           url to the previous page
/   current_page:  a page object for the currently displayed page
/   total_pages:   total number of pages
/   per_page:      number of items to fetch per page
/   remote:        data-remote

- if current_page.first?
  span.pagination-previous disabled='disabled' = t('views.pagination.previous')
- else
  = link_to t('views.pagination.previous'), url,
              class: 'pagination-previous', rel: 'prev', remote: remote
