table.table.is-fullwidth.is-striped
  theader
    tr
      th Kamer
      th Omschrijving
  tbody
    tr
      td colspan='2'
        = icon 'asterisk'
        = link_to 'alles', root_path
    - @rooms.each do |room|
      tr
        td.nowrap
          = icon 'circle'
          = link_to room.name, room_path(room)
        td: em = room.description
