span data-notification-room="room:#{@room.id}"

- if @room.rules.present?
  article.message.is-warning
    .message-body = @room.rules.html_safe

= render partial: 'topics/form',
         locals: { message: @topic, html_class: 'is-hidden-by-js' }

table.table.is-fullwidth.is-hoverable
  thead
    tr
      th Onderwerp
      th.is-hidden-mobile Activiteit
      th: abbr title='Aantal Berichten' #B
  tbody#topics
    - if @topics.length.zero?
      tr: td colspan='3'
        em (Nog) geen berichten hier!
    - else
      = render partial: 'topic', collection: @topics
  tfoot
    tr: td#paginate colspan='3' = paginate @topics
