@charset "utf-8"

// Import initial variables.
@import "bulma/utilities/initial-variables"

// Overrides.
$max-width: 960px
$body-size: 14px
$primary: $green
$link: $green
$cyan: $blue
$pagination-focus-border-color: $green // Shouldn't be needed, seems like bug in 0.6.1.

// Import the rest of bulma.
@import "bulma/utilities/functions"
@import "bulma/utilities/derived-variables"
@import "bulma/utilities/mixins"
@import "bulma/utilities/controls"
@import "bulma/base/minireset"
@import "bulma/base/generic"
@import "bulma/base/helpers"
@import "bulma/grid/columns"
@import "bulma/elements/container"
@import "bulma/elements/content"
@import "bulma/elements/title"
@import "bulma/elements/form"
@import "bulma/elements/button"
@import "bulma/elements/icon"
@import "bulma/elements/table"
@import "bulma/elements/box"
@import "bulma/elements/tag"
@import "bulma/elements/notification"
@import "bulma/components/message"
@import "bulma/components/navbar"
@import "bulma/components/pagination"
@import "bulma/components/breadcrumb"
@import "bulma/layout/footer"

// Import font awesome.
@import "font-awesome"

// Site specific stuff.
body
  div.container
    padding: 0 1rem
    max-width: $max-width
  div#yield
    padding-bottom: 1rem

q
  &:before, &:after
    content: ''
  color: $blue

nav.navbar
  margin-bottom: 1rem

a.textlink
  color: $text
  &:hover
    text-decoration: underline

.footer
  background-color: $white-bis
  padding: 0.6rem 1rem

.tripcode
  color: $purple
  margin-left: 0.1rem

.content
  word-wrap: break-word
  ul, ol
    margin-top: 0.6rem

.box
  &:not(:last-child)
    margin-bottom: 0.6rem

#replies-new > .box
  &:first-child
    margin-top: 0.6rem
  background-color: lighten($primary, 50%)

.dice
  color: $blue

abbr
  font-weight: bold

#paginate
  padding-top: 0.6rem

#hover
  display: none
  position: fixed
  z-index: 20
  max-width: $max-width - 200

.nowrap
  white-space: nowrap

// honeypot
.is-required
  display: none

s
  cursor: pointer
  text-decoration: none
  background-color: $text
  color: $text

s.spoil_on
  color: white !important

a.is-room-nav
  i.fa
    margin-right: .4rem

#remaining_value
  font-weight: bold
