doctype html
html
  head
    title = Rails.configuration.x.title
    meta name='viewport' content='width=device-width, initial-scale=1'
    - csrf_meta_tags do |tag|
      = tag.strip
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.png', type: 'image/png'

  body
    .container

      nav.navbar.is-light role='navigation' aria-label='navigation'
        .navbar-start
          .navbar-item
            .field.is-grouped
              p.control = button_new
              p.control
                a.button href=vgv_path
                  span.icon.is-small: i.fa.fa-question-circle
                  span Help
          = rooms_nav

      - flash.each do |name, msg|
        article.message class="is-#{name}"
          .message-body = msg

      .yield = yield
      = render 'shared/footer'
