doctype html
html
  head
    title = Rails.configuration.x.title
    meta name='viewport' content='width=device-width, initial-scale=1'
    - csrf_meta_tags do |tag|
      = tag.strip
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.png', type: 'image/png'

  body
    .container
      #yield = yield
      = render 'shared/footer'
